.option {
    list-style-type: none;
    border: 1px solid black;
    width: 100%;
    background-color: grey;
}

.optionList {
    padding: 0;
    width: 277px;
    margin-top: 0;
}

.selectInput {
    width: 250px;
}
