.SELECT {
  $input-width: 800px;
  display: inline-block;

  &__tags-input-container {
    width: $input-width;
    padding: 4px;
    border: 1px solid #333;
    display: inline-block;

    &__tags {
      &__tag-container {
        display: inline-block;
        margin-top: 8px;

        &__tag {
          background-color: #C0C0C0;
          border-radius: 7px;
          font-size: 0.8em;
          padding: 3px;
          margin: 3px;
        }
      }

      &__remove {
        border-radius: 45%;
        background-color: #999999;
        border: none;
        margin: 2px;
      }
    }

    &__input {
      border: none;
      width: 100%;
    }

    &__input:focus {
      outline: 0;
    }
  }

  &__dropdown-button {
    height: 34px;
    display: inline-block;
    margin-top: 0;
  }

  &__options {
    padding: 0;
    width: $input-width + 41px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 0;

    &-option {
      list-style-type: none;
      width: 100%;
      cursor: pointer;
      padding: 2px;
      background-color: #d9d9d9;
    }

    &-option:hover {
      background-color: #acacac;
    }
  }
}